/*----------------------------------------------------
    Template Name - Fashion Store inspired by SURUCHI HTML Template 
    Version = 1.0

    Index
    =============================
    -default
    -header


*/

/*===========================*/ 
/* default */
/*===========================*/ 
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family:'Jost', sans-serif;
    }
    body{
        @apply  box-border;
    }
    p{
        @apply text-gray-text;
    }
}
.small-text{
    @apply text-base text-gray-text;
}

@keyframes fadeInUp{
    from{
        opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
    }
    to{
        opacity:1;-webkit-transform:none;transform:none
    }
}
/* header */

.top-bar-text{
    @apply text-base text-white-color;
}
.with-bar{
    @apply relative before:absolute before:w-[1px] before:h-full before:top-0 before:-right-2 before:bg-white-color;
}

.main-menu {
    @apply text-gray-text;
}
/* Hero */
.swiper-button-next, .swiper-button-prev{
    @apply bg-secondary text-white-color !w-10 !h-10 rounded-full after:text-white-color;
    
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size:17px !important;
}

.swiper-slide.swiper-slide-active .hero-content p,
.swiper-slide.swiper-slide-active .hero-content h2,
.swiper-slide.swiper-slide-active .hero-content button{
    animation:fadeInUp;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

/* Banner */


/* Product Rows */
.react-tabs__tab--selected{
    @apply text-secondary;
}

/* Testimonials */
.swiper-pagination-bullet{
    @apply !bg-[#fff] border-2 border-secondary !w-[17px] !h-[17px] !opacity-100;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply !bg-secondary;
}